author: "Timothe Perez, Romain Carrara, Zhuo Li"
project:
  name: "Fodus"
  version: "3.1"
stylesheets:
  dia2xml: "dia-uml.xsl"
  xml2cpp: "dia-uml2cpp.xsl"
directories:
  input: "../../dia/"
  temp: "tmp/"
  output: "out/"
namespaces:
    - engine
    - state
    - render
includes:
  engine: "../global.hpp"
  state: "../global.hpp"
  render: "../global.hpp"

decorators:
  engine:
    AbstractEngine:
      - "../state/ElementList.hpp"
      - "../state/Etat.hpp"
      - "../game/EngineObserver.hpp"