# Author(s) (displayed at the top of each generated header)
author: "Timothe Perez, Romain Carrara, Zhuo Li"
# Project Infos
project:
  name: "Fodus"
  version: "3.1"

# Stylesheets to use
stylesheets:
  dia2xml: "dia-uml.xsl"
  xml2cpp: "dia-uml2cpp.xsl"

# Script working directories
directories:
  input: "../../dia/"
  temp: "tmp/"
  output: "../../src/"

# Diagram filename prefix in the input folder
dia_prefix: "diagram_"

# Namespace to generate
namespaces:
    - engine
    - state
    - render
    - game
    - ai
    - boot
    - network
# Global include in each header in the concerned namespace
includes:
  engine: "../global.hpp"
  state: "../global.hpp"
  render: "../global.hpp"
  ai: "../global.hpp"
  game: "../global.hpp"
  boot: "../global.hpp"
  network: "../global.hpp"

# Specific includes for classes in namespaces
# Typically import from others namespaces
decorators:
  engine:
    AbstractEngine:
      include:
        - "../state/Etat.hpp"
    Ruler:
      include:
        - "../state/Etat.hpp"
        - "../engine/Command.hpp"
    Action:
      include:
        - "../state/Etat.hpp"
    LevelUp:
      include:
        - "../state/Etat.hpp"
    Engine:
      include:
        - "../boot/Bootstrap.hpp"
        - "../state/Etat.hpp"
        - "../state/Perso.hpp"
        - "../state/Competence.hpp"
    SpawnAction:
      include:
        - "../state/Perso.hpp"
    Update:
      include:
        - "../state/ElementList.hpp"
        - "../state/Etat.hpp"

  game:
    IGame:
      include:
          - "../boot/Bootstrap.hpp"
          - "../engine/EngineObserver.hpp"
    Game:
      include:
          - "../engine/SkillCommand.hpp"
          - "../render/Scene.hpp"
          - "../state/Perso.hpp"
    HUD:
      include:
        - "../boot/Bootstrap.hpp"
    EngineObserver:
        include:
          - "../state/Etat.hpp"
          - "../engine/AbstractEngine.hpp"
          - "../engine/Player.hpp"

  state:
    Etat:
      include:
        - "../engine/Subject.hpp"
  render:
    AnimationLayer:
      include:
        - "../state/Perso.hpp"
        - "../engine/Movement.hpp"
    Layer:
      include:
        - "../boot/Bootstrap.hpp"
        - "../state/ElementList.hpp"
    Scene:
      include:
        - "../engine/Subject.hpp"
        - "../engine/Movement.hpp"
    TileFactory:
      include:
        - "../boot/Bootstrap.hpp"
    SpriteFactory:
      include:
        - "../boot/Bootstrap.hpp"
    InfoLayer:
      include:
        - "../engine/Observer.hpp"
        - "../state/Perso.hpp"

  ai:
    AiPlayer:
      include:
        - "../boot/Bootstrap.hpp"
        - "../engine/AbstractEngine.hpp"
        - "../game/IGame.hpp"
  boot:
    Bootstrap:
      include:
        - "../engine/ModeCommand.hpp"
  network:
    NetworkClient:
      include:
        - "../game/Game.hpp"
    NetworkEngine:
      include:
        - "../engine/Engine.hpp"
