language: c++
sudo: false
compiler: gcc
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - kalakris/cmake
    packages:
    - g++-5
    - cmake
    - libglew-dev
    - libsndfile1-dev
    - libopenal-dev
    - libfreetype6-dev
    - libx11-xcb-dev
    - udev
    - libudev-dev
cache:
  apt: true
  directories:
  - "$HOME/.travis/cmake/build/install"
  - "SFML-2.3.2"


before_install:
  - if [ "$CC"  == "gcc"     ]; then export CC=gcc-5; fi
  - if [ "$CXX" == "g++"     ]; then export CXX=g++-5; fi

install:
  - wget "http://www.sfml-dev.org/files/SFML-2.3.2-linux-gcc-64-bit.tar.gz" -O SFML.tar.gz
  - tar -xvf SFML.tar.gz
  - export PATH="$(pwd)/SFML-2.3.2:$PATH"
  - export SFML_ROOT="$(pwd)/SFML-2.3.2"
  - ./configure
script:
  - ./make

notifications:
  email: false